.page {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: white;

}

.list {
    position: relative;
    width: 20rem;
    height: auto;
    background: #0f0;
}

